<html>

<head>
    <title>农展馆</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <!-- 引入本地文件 -->
    <script src="./jquery.js"></script>
    <script src="./index.js"></script>
</head>

<body>
    <div class="content">
        <!-- 头部 -->
        <div class="banner">
            <image class="companyLogo" src="./images/company.png"></image>
            <div class="mainText">怀仁农展馆人流分布信息</div>
            <div class="bannerR">
                <!-- <image class="weatherLogo" src="./images/weather.png"></image>
                <span class="hot">35度</span> -->
                <span class="time">8月26日</span>
                <div class="timeDetail">
                    <div class="year"></div>
                    <div class="week">星期五</div>
                </div>
            </div>
        </div>
        <!-- a展馆数据 -->
        <div class="main">
            <div class="mainL">
                <div class="title"><span class="circleP"></span><span class="collectType"></span>展馆信息</div>
                <div class="mess">
                    A馆总建筑面积为6408平方米，共分三层。首层布置入口门厅、农产品临时展厅、农产品教育活动区及农产品服务区等功能，首层建筑面积为2552平方米；二层布置农产品历史展厅和农产品文化展厅，二层建筑面积为1960平方米；三层布置农产品互动展厅和部分库房，三层建筑面积为1896平方米。
                </div>
            </div>
            <div class="mainC">
                <div class="number"><span class="collectType"></span>展馆当前人数 <span class="now">0</span></div>
                <div class="flowNumber">
                    <div class="num1">当日进客量<span class="total1">0</span></div>
                    <div class="num2">当日出客量<span class="total2">0</span></div>
                </div>
                <div class="status">当前状态：<span class="statusData">舒适</span></div>
                <div class="total">馆内容量：<span class="totalData">300</span></div>
                <div class="statistics">
                    <div style="overflow: hidden;">
                        <div class="pic">
                            <image class="person1" src="./images/person1.png"></image>
                            <span>人数情况</span>
                        </div>
                        <div class="type">
                            <ul>
                                <li class="typeColor"><span class="text">空闲</span><span class="color color1"></span>
                                </li>
                                <li class="typeColor"><span class="text">适中</span><span class="color color2"></span>
                                </li>
                                <li class="typeColor"><span class="text">拥挤</span><span class="color color3"></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <ul class="numberLogo">
                        </ul>
                    </div>
                </div>
                <div class="main-weather">
                    <div class="pic1">
                        <image class="weatherLogo" src="./images/weather.png"></image>
                        <span>今日天气</span>
                    </div>
                    <div class="todays">
                        <span class="today">最高温度<span class="hot hotH"></span></span>
                        <span class="today">最低温度<span class="hot hotl"></span></span>
                        <span class="today"><span class="hot hotD"></span></span>
                    </div>
                </div>
            </div>
            <div class="mainR">
                <div class="up">
                    <div class="titleR"><span class="circleP"></span><span class="collectType2"></span>展馆</div>
                    <div class="bMess1">
                        <div class="bNumber">
                            当前人数 <span class="bTotal">2816</span>
                        </div>
                        <div class="bStatistics">
                            <div class="bNum1">
                                当日进客量 <span class="bTotal1">2816</span>
                            </div>
                            <div class="bNum2">
                                当日出客量 <span class="bTotal2">2816</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="down">
                    <div class="titleR2"><span class="circleP"></span>馆内信息</div>
                    <div class="bMess2">
                        <div class="bNumber2 status1">
                            馆内容量： <span class="downNum">500</span>
                        </div>
                        <div class="bNumber2 status2">
                            当前状态： <span class="downStatus">舒适</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>